@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Bicycles Test for NREL and Craig and Team</h1>
       <body>
          <img src="/html/images/Contosobikes.png" width="806" height="1038">
    </body>
 
</div>
